*{
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 53px;
  font-weight: bold;
    padding-left: 20px;

}
header{
  font-size: 20px;
}

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e7da;
  }

footer {
padding: 15px;
padding-top: 15px;
    text-align: center;
    background-color: gray;
      padding-left: 20px;

}
p{
  padding:15px;
    padding-left: 20px;

}
.mapa{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconos {
  padding-left: 10px;
  padding-right: 10px; 
}
.sportivo h1{
  color: green;
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
  margin-top: 4cm;
}
.sportivo p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: auto;
  padding-left: 50px;
}
.pasafoto4{
  width: 1024px;
  height: 684px;
  margin: 50px auto 0;
  overflow: hidden;

}
.pasafoto4 ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: pasar 16s infinite ease-in-out ;
}
.pasafoto4 li {
  list-style: none;
  width: 100%;
}
.pasafoto4 img {
  width: 100%;
}

.pasafoto5{
  width: 1024px;
  height: 684px;
  margin: 50px auto 0;
  overflow: hidden;

}
.pasafoto5 ul {
  display: flex;
  padding: 0;
  width: 500%;
  animation: pasar5 20s infinite ease-in-out ;
}
.pasafoto5 li {
  list-style: none;
  width: 100%;
}
.pasafoto5 img {
  width: 100%;
}

.pasafoto6{
  width: 1024px;
  height: 684px;
  margin: 50px auto 0;
  overflow: hidden;

}
.pasafoto6 ul {
  display: flex;
  padding: 0;
  width: 600%;
  animation: pasar6 24s infinite ease-in-out ;
}
.pasafoto6 li {
  list-style: none;
  width: 100%;
}
.pasafoto6 img {
  width: 100%;
}
.navbar {
  background-color: #060606;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.navbar li a:hover {
  color: #295b7c;

}
    .navbar .alquileres ul {
      display: none;
      position: absolute;
      background-color: #0f2a39;
      min-width: 200px;
    }

    .navbar .alquileres:hover ul {
      display: block;
    }

    .navbar .alquileres ul li {
      display: block;
    }

    .navbar .alquileres ul li a {
      color: #fff;
      padding: 10px;
    }

    .navbar .alquileres ul li a:hover {
      color: #295b7c;
      background-color: #3d9acb;
    }
@keyframes pasar {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}

}

@keyframes pasar5 {
  0% {margin-left: 0%;}
  15% {margin-left: 0%;}

  20% {margin-left: -100%;}
  35% {margin-left: -100%;}

  40% {margin-left: -200%;}
  55% {margin-left: -200%;}

  60% {margin-left: -300%;}
  75% {margin-left: -300%;}

  80% {margin-left: -400%;}
  100% {margin-left: -400%;}
}

@keyframes pasar6 {
  0% {margin-left: 0%;}
  15% {margin-left: 0%;}

  16.66% {margin-left: -100%;}
  30% {margin-left: -100%;}

  33.33% {margin-left: -200%;}
  46% {margin-left: -200%;}

  50% {margin-left: -300%;}
  63.33% {margin-left: -300%;}

  66.66% {margin-left: -400%;}
  80% {margin-left: -400%;}

  83.33% {margin-left: -500%;}
  100% {margin-left: -500%;}
}